body {
    color: aliceblue;
}

section{
    min-height: 100vh;
    padding: 25px 0px;
}

.cartWraper {

    

}

.cart {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img {
    width: 200px;
}

.quantity-input {

    display: inline-block !important;
    width: 80px;
    text-align: center;
    overflow: scroll;

}